h1, h2, h3 {
  font-weight: bold;
  letter-spacing: -0.1px;
  font-family: "Lucida Grande", "Lucida Sans Unicode", "Lucida Sans", Geneva, Verdana, sans-serif;
}

h2 + p {
  margin-top:-13px;
}


h1 {
  text-align: center
}

h2 {
  margin-top: 44px;
  font-size: 35px;
  letter-spacing: -0.2px;
}

h3 {
  margin-top: 60px;
  text-align: left;
  font-size: 31px;
  font-weight: normal;
  color: rgba(0,0,0,0.44);
}

p,
section li {
  font-size: 22px;
  line-height: 1.5;
  letter-spacing: 0.16px;
}

p {
  margin-top: 30px;
  font-family: Georgia, Cambria, "Times New Roman", Times, serif;
}

h2 + p {
  margin-top: 8px;
}

b {
  font-weight: bold;
}

section a {
  color: black;
}

#welcomeScreen {
  display: flex;
  width: 100%;
  height: 100%;
  background-image: url(../images/narkomfin.jpg);
  background-size: cover;
}

#welcomeScreen article {
  width: 700px;
  margin: auto;
}

#welcomeScreen h1 {
  margin-bottom: 60px;
  font-size: 60px;
  font-weight: bold;
  letter-spacing: -2.4px;
}

.articleGroup {
  width: 700px;
  margin: auto;
}
