h1 {
  font-size: 60px;
  font-weight: bold;
  text-align: center;
  margin-top: 215px;
  letter-spacing: -1.4px;
}

h2 {
  font-size: 38px;
  margin-top: 43px;
  letter-spacing: -0.95px;
}

h3 {
  font-size: 30px;
  margin-top: 60px;
  letter-spacing: 0.53px;
}

p {
  font-size: 22px;
  line-height: 1.5;
  letter-spacing: 0.16px;
  margin-top: 29.5px;
}

ul {
  margin-top: 1px;
  font-size: 24px;
  line-height: 1.4;
  letter-spacing: -0.85px;
}
