#projects {
  position: relative;
  font-size: 0;
  overflow: hidden;
}

#circlesWrapper {
  position: absolute;
  bottom: 30px;
  width: 100vw;
  text-align: center;
}

#circlesWrapper li {
  position: relative;
  z-index: 1;
  display: inline-block;
  width: 12px;
  height: 12px;
  margin: 0 6px;
  cursor: pointer;
  border: 1px solid white;

  -webkit-border-radius: 100%;
  -moz-border-radius: 100%;
  border-radius: 100%;
}

#circlesWrapper li.current {
  background-color: white;
}

#projectsWrapper {
  width: 300vw;

  -webkit-transition: all 0.3s ease-out;
  -moz-transition: all 0.3s ease-out;
  -ms-transition: all 0.3s ease-out;
  -o-transition: all 0.3s ease-out;
  transition: all 0.3s ease-out;
}

.project {
  position: relative;
  display: inline-block;
  width: 100vw;
  height: 600px;
  background-image: url(../images/hack_exchange.jpg);
  background-position: center;
  background-size: 100%;

  -webkit-transition: all 0.3s ease-out;
  -moz-transition: all 0.3s ease-out;
  -ms-transition: all 0.3s ease-out;
  -o-transition: all 0.3s ease-out;
  transition: all 0.3s ease-out;
}

.project:hover {
  background-size: 105%;
}

.project:hover .overlay {
  background-color: rgba(70,0,130,.7);
}

.project:hover .button {
  background-color: rgba(190,255,0,.5);
}

.project .overlay {
  position: absolute;
  width: 100%;
  height: 100%;
  background-color: rgba(0,0,0,.6);

  -webkit-transition: all 0.3s ease-out;
  -moz-transition: all 0.3s ease-out;
  -ms-transition: all 0.3s ease-out;
  -o-transition: all 0.3s ease-out;
  transition: all 0.3s ease-out;
}

.project section {
  position: relative;
  z-index: 1;
  width: 980px;
  margin: 0 auto;
  padding-top: 100px;
  color: white;
}

.project h2 {
  font-size: 40px;
}

.project h3 {
  font-size: 20px;
  margin-top: 5px;
}

.project p {
  margin-top: 30px;
  font-size: 20px;
  line-height: 1.2;
}

.project .button {
  display: inline-block;
  height: 50px;
  padding: 0 20px;
  margin-top: 40px;
  font-size: 20px;
  line-height: 50px;
  border: 2px solid white;
  text-transform: uppercase;
  cursor: pointer;

  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  border-radius: 5px;

  -webkit-transition: all 0.3s ease-out;
  -moz-transition: all 0.3s ease-out;
  -ms-transition: all 0.3s ease-out;
  -o-transition: all 0.3s ease-out;
  transition: all 0.3s ease-out;
}

.project .button:hover {
  background-color: rgba(190,255,0,1);
  color: rgb(30,40,60);
}

.project i {
  margin-left: 10px;
}
