#welcome {
  position: relative;
  height: 680px;
  color: white;
}

#welcome .videoWrapper {
  position: absolute;
  width: 100%;
  height: 680px;
  overflow: hidden;
}

#welcome .overlay {
  position: absolute;
  width: 100%;
  height: 100%;
  background-color: rgba(0,0,255,.7);
}

#welcome video {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

#welcome section {
  position: absolute;

  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;

  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;

  -webkit-justify-content: space-between;
  -ms-flex-pack: justify;
  justify-content: space-between;

  width: 100%;
  height: 340px;
  bottom: 40px;
  text-align: center;
}

#welcome h1 {
  font-size: 60px;
}

#welcome i {
  font-size: 26px;

  animation: moveDownAndUp ease-in-out 3s;
  animation-iteration-count: infinite;
  transform-origin: 50% 50%;
  -webkit-animation: moveDownAndUp ease-in-out 3s;
  -webkit-animation-iteration-count: infinite;
  -webkit-transform-origin: 50% 50%;
  -moz-animation: moveDownAndUp ease-in-out 3s;
  -moz-animation-iteration-count: infinite;
  -moz-transform-origin: 50% 50%;
  -o-animation: moveDownAndUp ease-in-out 3s;
  -o-animation-iteration-count: infinite;
  -o-transform-origin: 50% 50%;
  -ms-animation: moveDownAndUp ease-in-out 3s;
  -ms-animation-iteration-count: infinite;
  -ms-transform-origin: 50% 50%;
}

@keyframes moveDownAndUp {
  0% {
    transform:  translate(0px,0px);
  }
  50% {
    transform:  translate(0px,20px);
  }
  100% {
    transform:  translate(0px,0px);
  }
}

@-moz-keyframes moveDownAndUp {
  0% {
    -moz-transform:  translate(0px,0px);
  }
  50% {
    -moz-transform:  translate(0px,20px);
  }
  100% {
    -moz-transform:  translate(0px,0px);
  }
}

@-webkit-keyframes moveDownAndUp {
  0% {
    -webkit-transform:  translate(0px,0px);
  }
  50% {
    -webkit-transform:  translate(0px,20px);
  }
  100% {
    -webkit-transform:  translate(0px,0px);
  }
}

@-o-keyframes moveDownAndUp {
  0% {
    -o-transform:  translate(0px,0px);
  }
  50% {
    -o-transform:  translate(0px,20px);
  }
  100% {
    -o-transform:  translate(0px,0px);
  }
}

@-ms-keyframes moveDownAndUp {
  0% {
    -ms-transform:  translate(0px,0px);
  }
  50% {
    -ms-transform:  translate(0px,20px);
  }
  100% {
    -ms-transform:  translate(0px,0px);
  }
}
