html, body {
  height: 100%;
}

h1, h2, h3 {
  font-family: "Lucida Grande", "Lucida Sans Unicode", "Lucida Sans", Geneva, Verdana, sans-serif;
}

p, li {
  font-family: Georgia, Cambria, "Times New Roman", Times, serif;
}

h2 + p {
  margin-top: 30px;
}
