/*body {
  width: 700px;
  margin: 0 auto;
}*/

html, body {
  height: 100%;
}

h1, h2, h3, h4 {
  font-family: "Lucida Grande", "Lucida Sans Unicode", "Lucida Sans", Geneva, Verdana, sans-serif;
}

/*p:first-of-type {
  margin-top: 229px;
}*/

h2 + p {
  margin-top: 8px;
}
