h1 {
  font-size: 60px;
  font-weight: bold;
  margin-top: 215px;
  text-align: center;
  letter-spacing: -2px;
}

h2 {
  font-size: 35px;
  font-weight: bolder;
  margin-top: 43px;
  letter-spacing: 0.2px;
}

h3 {
  font-size: 30px;
  color: gray;
  font-weight: bolder;
  margin-top: 58px;
}

p {
  font-size: 22px;
  line-height: 1.5;
  letter-spacing: 0.16px;
  margin-top: 32px;
}

li {
  font-size: 22px;
  line-height: 1.5;
  letter-spacing: 0.16px;
}
