h1, h2, h3 {
  font-weight: bold;
  letter-spacing: -0.1px;
}

h1 {
  /*margin-top: 213px;*/
  margin-bottom: 60px;
  font-size: 60px;
  text-align: center;
  letter-spacing: -2.4px;
}

h2 {
  margin-top: 44px;
  font-size: 35px;
  letter-spacing: -0.2px;
}

h3 {
  margin-top: 60px;
  text-align: left;
  font-size: 31px;
  font-weight: normal;
  color: rgba(0,0,0,0.44);
}

p, li {
  font-size: 22px;
  line-height: 1.5;
  letter-spacing: 0.16px;
}

p {
  margin-top: 30px;
}

h2 + p {
  margin-top: 8px;
}

b {
  font-weight: bold;
}

a {
  color: black;
}

section a {
  color: black;
}
#welcomeScreen {
  display: flex;
  width: 100%;
  height: 100%;
  background-image: url(../images/narkomfin.jpg);
  background-repeat: no-repeat;
  background-size: cover;
}

.articleGroup {
  width: 700px;
  margin: auto;
}

nav {
  position: fixed;
  top: 0;
  left: 0;
  width: 320px;
  height: 100vh;
  padding: 40px;
  background-color: black;
  color: white;
}

nav a {
  color: white;
}
