h1 {
  font-size: 60px;
  font-weight: bold;
  text-align: center;
  margin-top: 213px;
  letter-spacing: -1.16px;
}
h2 {
  font-size: 36px;
  font-weight: bold;
  margin-top: 45px;
  margin-bottom: -1px;
  letter-spacing: -0.16px;
}
h3 {
  font-size: 37px;
  font-weight: bold;
  color: gray;
  line-height: 0.9;
  margin-top: 61px;
  margin-bottom: -3px;
  letter-spacing: -4.16px;
}
p {
  margin-top: 29px;
  font-size: 22px;
  line-height: 1.5;
  letter-spacing: 0.16px;
}
li {
  margin-top: 11px;
  margin-bottom: -11px;
  font-size: 22px;
  line-height: 1.5;
  letter-spacing: 0.16px;
}
