#welcome{
  position: relative;
  background-color: blue;
  height: 680px;
  color: white;
}

#welcome .videoWrapper{
  position: absolute;
  width: 100%;
  height: 680px;
  overflow: hidden;
}

#welcome .videoWrapper .overlay{
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 255, 0.5);
  position: absolute;

  transition: all 3s;
}

#welcome:hover .videoWrapper .overlay{
  background-color: rgba(255, 0, 0, 0.5);;
}


#welcome .videoWrapper video{
  width: 100%;
  height: 100%;
  object-fit: cover;
}

#welcome .textWrapper{
  height: 680px;
  position: absolute;
  width: 100%;

  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
}
#welcome .textWrapper h1{
  margin:auto;
  text-align: center;
  font-size: 60px;
}

#welcome .textWrapper i{
  position: absolute;
  width: 100%;
  bottom:40px;
  left:0;
  text-align: center;
  font-size: 26px;

  animation: moveDownUp ease-in-out 3s;
  animation-iteration-count: infinite;
  transform-origin: 50% 50%;

  -webkit-animation: moveDownUp ease-in-out 3s;
  -webkit-animation-iteration-count: infinite;
  -webkit-transform-origin: 50% 50%;

  -moz-animation: moveDownUp ease-in-out 3s;
  -moz-animation-iteration-count: infinite;
  -moz-transform-origin: 50% 50%;

  -o-animation: moveDownUp ease-in-out 3s;
  -o-animation-iteration-count: infinite;
  -o-transform-origin: 50% 50%;

  -ms-animation: moveDownUp ease-in-out 3s;
  -ms-animation-iteration-count: infinite;
  -ms-transform-origin: 50% 50%;
}

@keyframes moveDownUp{
  0%   { transform:  translate(0px,0px);  }
  50%  { transform:  translate(0px,20px); }
  100% { transform:  translate(0px,0px);  }
}

@-moz-keyframes moveDownUp{
  0%   { -moz-transform:  translate(0px,0px)  ;  }
  50%  { -moz-transform:  translate(0px,20px)  ;  }
  100% { -moz-transform:  translate(0px,0px)  ;  }
}

@-webkit-keyframes moveDownUp {
  0%   {    -webkit-transform:  translate(0px,0px)  ;  }
  50%  {    -webkit-transform:  translate(0px,20px)  ;  }
  100% {    -webkit-transform:  translate(0px,0px)  ;  }
}

@-o-keyframes moveDownUp {
  0%   {    -o-transform:  translate(0px,0px)  ;  }
  50%  {    -o-transform:  translate(0px,20px)  ;  }
  100% {    -o-transform:  translate(0px,0px)  ;  }
}

@-ms-keyframes moveDownUp {
  0%   {    -ms-transform:  translate(0px,0px)  ;  }
  50%  {    -ms-transform:  translate(0px,20px)  ;  }
  100% {    -ms-transform:  translate(0px,0px)  ;  }
}
