h1{
  font-size: 61px;
  font-weight: bold;
  text-align: center;
  margin-top: 215px;
  letter-spacing: -2.4px;
}
p {
  font-size: 22px;
  line-height: 1.5;
  letter-spacing: 0.16px;
}
p {
  display: block;
  -webkit-margin-before: 1em;
  -webkit-margin-after: 1.3em;
  -webkit-margin-start: 0px;
  -webkit-margin-end: 0px;
}
h2 {
  font-size: 39px;
  font-weight: bold;
  letter-spacing: -2.25px;
  line-height: 72.5px;
}
h3 {
  font-size: 31px;
  font-weight: bold;
  letter-spacing: -0.7px;
  color: gray;
  margin-bottom: 29px;
}
p {
  margin-top: 30px;
}
h3 + p {
  margin-top: 1.8px;
  letter-spacing: 0.2px;
}
li {
  font-size: 23px;
  line-height: 33px;
  margin-top: -28.4px;
  letter-spacing: -0.38px;
  margin-bottom: 28px;
}
p + h2 {
  margin: -1.6px;
}
h3 + p: first-of-type {
  margin-top: -1.2px;
  letter-spacing: 0.2px;
}
h2 + h3 + p {
  margin: -9px;
  letter-spacing: 0.8px;
  font-weight: normal;
  line-height: 33px;
}
h2 + h3 {
  margin: 45px;
  margin-left: 0px;
}
li + h2 {
  margin: 5px;
}
p + h3 {
  margin-top: 62px;
}
ul + h3 {
margin-bottom: 61px;
}
