#footer .contacts {
  width: 100%;
  height: 80px;
  background-color: #1b1b27;
}

#footer .contacts p {
  font-size: 20px;
}

#footer .contacts a {
  color: white;
  cursor: pointer;
}

#footer .contacts a:hover {
  color: #4de89a;
}
